:root {
  --bg-primary-color: hsl(30, 38%, 92%);
  --bg-secondary-color: hsl(158, 36%, 37%);

  --text-primary-color: hsl(212, 21%, 14%);
  --text-secondary-color: hsl(228, 12%, 48%);
  
  --white-color: hsl(0, 0%, 100%);

  --product-category-size: 12px;
  --paragraph-size: 14px;
  --product-name-size: 32px;

  --font-montserrat: 'Montserrat', sans-serif;
  --normal-weight-montserrat: 500;
  --bold-weight-montserrat: 700;

  --font-fraunces: 'Fraunces', serif;
  --bold-weight-fraunces: 700;
}

/* Global  */
body {
  background-color: var(--bg-primary-color);
}

img {
  width: 100%;
}

.main-wrapper {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.product-card-wrapper {
  background-color: var(--white-color);
  width: 95%;
}

.product-category {
  color: var(--text-secondary-color);
  font-family: var(--font-montserrat);
  font-size: var(--product-category-size);
  font-weight: var(--normal-weight-montserrat);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.product-name {
  color: var(--text-primary-color);
  font-family: var(--font-fraunces);
  font-size: var(--product-name-size);
  font-weight: var(--bold-weight-fraunces);
}

.product-description {
  color: var(--text-secondary-color);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: var(--normal-weight-montserrat);
}

