:root {
  --bg-primary-color: hsl(30, 38%, 92%);
  --bg-secondary-color: hsl(158, 36%, 37%);

  --text-primary-color: hsl(212, 21%, 14%);
  --text-secondary-color: hsl(228, 12%, 48%);
  --text-white-color: hsl(0, 0%, 100%);

  --paragraph-size: 14px;

  --font-montserrat: 'Montserrat', sans-serif;
  --normal-weight-montserrat: 500;
  --bold-weight-montserrat: 700;

  --font-fraunces: 'Fraunces', serif;
  --bold-weight-fraunces: 700;
}

body {
  background-color: var(--primary-color);
}
